- 
   name: Playbook 
   hosts: localhost
   tasks: 
     - name: Run the mysql container
       docker_container:
              name: database
              image: mysql
              state: started
              exposed_ports:
                   - 3306
              published_ports:
                   - 3306:3306
              volumes:
                   - /var/lib/mysql:/var/lib/mysql  
              env:
                MYSQL_DATABASE: shopon
                MYSQL_ROOT_PASSWORD: root
                MYSQL_ROOT_HOST: '0.0.0.0'
             
     - name: Create a new database with name 'shopon'
       mysql_db:
            name: shopon
            state: present
            target: ./sm-shop/ShopOn.sql
            login_host: "0.0.0.0"
  
  

     - name: Deploy on the test server
       docker_container:
             name: shopon
             image: madhurk/shopon
             pull: true
             links:
                - database:database
             published_ports:
                - 8081:8080
      
