- name: Start a mysql container and link
  hosts: test
  docker_container:
    name: mysql
    image: mysql
    env:
      MYSQL_DATABASE: shopon
      MYSQL_USER: root
      MYSQL_PASSWORD: root4312
  shell: ./sm-shop/
      
