- 
   name: Playbook 
   hosts: localhost
   tasks: 
     - name: Run the mysql container
       docker_container:
              name: database
              image: mysql
              state: started
              exposed_ports:
                   - 3306
              volumes:
                   - /var/lib/mysql:/var/lib/mysql  
              env:
                MYSQL_DATABASE: shopon
                MYSQL_ROOT_PASSWORD: root
             
              command: ./sm-shop/ShopOn.sql
  
  

     - name: Deploy on the test server
       docker_container:
             name: shopon
             image: madhurk/shopon
             pull: true
             links:
                - database:database
      
