---
 - name: Playbook 
   hosts: test
   tasks: 
     - name: Run the mysql container
       docker_container:
              name: database
              image: mysql
              state: started
              exposed_ports:
                   - 3306
              volumes:
                   - /var/lib/mysql:/var/lib/mysql  
              env:
                MYSQL_DATABASE: shopon
                MYSQL_USER: root4312
                MYSQL_ROOT_PASSWORD: root
                MYSQL_PASSWORD: root4312
       #shell: ./sm-shop/ShopOn.sql
  
  

     - name: Deploy on the test server
       shell: docker run -d --name=shopon -p 8080:8080 --link database:database madhurk/shopon
       
       
       
       #docker_container:
       #      name: shopon
       #      image: madhurk/shopon
       #      pull: true
       #      links:
       #         - database:database
      
